html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
#wrap {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 120px;
}
#header {
  margin-bottom: 20px;
}
.small-vert-padding {
  padding: 10px 0px 10px 0px;
}
.large-vert-padding {
  padding: 20px 0px 20px 0px;
}
table.table-xs td,
table.table-xs th {
  font-size: 10px;
}
.pull-right {
  text-align: right;
}
.no-margin-bottom {
  margin-bottom: 0px;
}
.fluid-width-video-wrapper {
  padding-top: 75%;
  padding-left: 2.5%;
}
.fluid-width-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 14px;
  width: 95%;
  height: 100%;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card .card-body {
  padding-left: 15px;
  padding-right: 15px;
}
.card .card-body p {
  margin-bottom: 0px;
}
.card-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.card-form h2 {
  margin-bottom: 0px;
}
.card-form .card-body {
  padding-bottom: 0px;
}
.card-form .alert {
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}
.card-form .pull-right {
  width: 100%;
}
.card-form a {
  width: 100%;
  position: relative;
}
.card-form .row {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
#twofactordialogform canvas {
  max-width: 256px;
  width: 100% !important;
}
#order-form .form-group {
  margin-bottom: 0rem;
}
#order-form .order-button-group {
  width: 100%;
}
#order-form .order-button-group label {
  width: 100%;
  white-space: normal;
}
#order-form .form-control-sm,
#order-form .col-form-label-sm,
#order-form .input-group-sm .input-group-text,
#order-form button,
#order-form .invalid-feedback {
  font-size: 10px;
}
#order-form select,
#order-form input {
  height: 20px;
  margin-top: 2px;
}
#order-form .input-group-sm .input-group-text {
  height: 20px;
  font-size: 10px;
  margin-top: 2px;
}
#order-form label.btn {
  font-size: 10px;
}
@media (min-width: 576px) {
  #order-form .order-button-container .col-sm-6:first-child {
    padding-right: 0px;
  }
  #order-form .order-button-container .col-sm-6:last-child {
    padding-left: 0px;
  }
}
#order-form .order-button-container button {
  width: 100%;
}
